/*
* @Author: Administrator
* @Date:   2018-08-16 19:41:06
* @Last Modified by:   Administrator
* @Last Modified time: 2018-08-16 23:03:48
*/
/* 顶部开始 */
.slide{
	width:100%; 	
	height: 100%;
	overflow: scroll;
}
.top{
	width: 100%;
	height: 0.88rem;
	background-color: #f16851;
	text-align: center;
	line-height: 0.6rem;
}
img{
	width: 2.58rem;
	height: 0.43rem;
}
.back{
	width: 0.5rem;
	height: 0.5rem;
	background: white;
	border-radius: 50%;
	position: absolute;
	top: 0.2rem;
	left: 0.24rem;
}
.back img{
	width:0.14rem;
	height: 0.24rem;
	float: left; 
	margin:0.13rem 0.18rem 0.13rem 0.18rem ;
}
/* 顶部结束 */
/* 内容开始 */
.main .first{
	width: 7.02rem;
	height: 3.12rem;
	margin-left: 0.24rem;
	margin-top: 0.24rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 0.1rem;
	box-shadow: 0 0.04rem 0.07rem rgba(241, 104, 81, 0.45);
}
.main img{
	width: 2.65rem;
	height: 2.32rem;
}
.main .text {
	width: 2.5rem;
	height:1.31rem;
	margin-left: 0.24rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.main .text .money{
	width: 1.70rem;
	height: 0.46rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.main .text .money img{
	width: 0.135rem;
	height: 0.135rem;
}
.main .text .money span{
	width: 1.63rem;
	font-size: 0.4rem;
	font-weight: bolder;
	color: #db2bcd;
}
.main .text .money span i{
	font-size: 0.28rem;
}
.main .first .text p{
	font-size: 0.4rem;
	color: #db2bcd;
}
.second{
	width: 5.41rem;
	height: 1.78rem;
	margin-top: 0.92rem;
	margin-left: 0.88rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.second p{
	font-size: 0.3rem;
	color: #db2bcd;
}
.second .box{
	width: 5.41rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.second .box .box1{
	width: 2.2rem;
	height: 0.55rem;
	border-radius: 0.25rem;
	background-color: #db2bcd;
	font-size: 0.28rem;
	color: white;
	text-align: center;
	line-height: 0.55rem;
}
/* 内容结束 */
/* 商家推荐开始 */
.recommend .title3{
	width: 4.44rem;
	height: 0.45rem;
	background-image: url('../img/goods-title3.png');
	background-size: cover;
	margin-left: 0.24rem;
	margin-top: 0.5rem;
}
.recommend ul{
	width: 7.02rem;
	float: left;
	margin-top: 0.5rem;
	margin-left: 0.24rem;
}
.recommend ul li{
	width: 3.3rem;
	height: 3.9rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	float: left;
	box-shadow: 0 0.04rem 0.07rem rgba(241, 104, 81, 0.45);
	margin-bottom: 0.5rem;
	margin-right: 0.4rem;
}
.recommend ul li:nth-child(2n){
	margin-right:0;
}
.recommend ul li img{
	width:3.3rem;
	height: 2rem;
}
.recommend ul li h3{
	font-size: 0.34rem;
}
.recommend ul li p{
	font-size: 0.18rem;
	color: #b4b4b4;
}
.recommend ul li span{
	font-size: 0.34rem;
	color: #f16851;
	margin-bottom: 0.4rem;
	display: block;
}
.recommend ul li b{
	font-size: 0.18rem;
	font-weight: normal;
}

/* 商家推荐结束 */